@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
.landing-page {
    position: relative;
    color: #ffffff;
}

.landing-photo {
    width: 100%;
    height: 90vh;
}

.slogan {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 3rem;
    font-family: 'Niconne', cursive;
}