@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Niconne&display=swap');
.post-card {
  display: grid;
  align-items: center;
}

.blog-text {
  font-size: 1.3rem;
  font-family: 'Arapey', serif;
}

.editable {
  background-color: tomato;
}